@font-face{
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face{
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

html, body{
	height: 100%;
	min-height: 100%;
}


form {
	text-align: center;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	background-image: url("../images/backgrounds/crowd.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	min-width: 950px;
}

.login_box {
	font-family: 'Bellota-LightItalic', sans serif;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 7%;
	width: 35%;
	background-color: #ffffff;
	border: 1px solid #EDEDED;
	border-radius: 7px;
	padding: 5px;
	opacity: 0.8;
}

.login_header{
	font-family: 'Bellota-LightItalic', sans serif;
	width: 100%;
	height: 90px;
	background-color: #5758BB;
	color: #fff;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

input[type="submit"]{
	background-color: #5758BB;
	border: 1px solid #5758BB;
	border-radius: 3px;
	margin: 5px 0 10px 0;
	padding: 5px 10px 5px 10px;
}

.login_header h1{
	font-family: 'Bellota-BoldItalic', sans serif;
	margin-top: 0;
	margin-bottom: 0;
	color: #9980FA;
	text-shadow: #9c88ff 0.5px 0.5px 0px;
	font-size: 250%;
}